/* FONTS */

@font-face {
	font-family: 'PTSerif';
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PTSerif';
  src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PTSans';
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PTSans';
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}



/* CSS VARIABLES */

:root {
	/* Colors */
	--color-background: #FFFFFF;
	--color-text-dark: #111111;
	--color-text-body: #333333;
	--color-link: #50ADB1;
	--color-link-hover: #E2287D;

	/* Typography */
	--font-heading: "Raleway", Arial, sans-serif;
	--font-body: "PTSerif", Arial, sans-serif;
}



/* BASICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	font-size: 100%;
}

body {
  background-color: var(--color-background);
  margin: 0;
}



/* TEXT ELEMENTS */

h1 {
  font-family: var(--font-heading);
  font-size: 4rem;
	line-height: 5rem;
  color: var(--color-text-dark);
  font-weight: 800;
	padding-bottom: 1rem;
}

p {
  font-family: var(--font-body);
  font-size: 1.25rem;
	line-height: 1.75rem;
  color: var(--color-text-body);
  font-weight: 400;
	padding-bottom: 1rem;
}


p.emoji {
	padding-top: 0.5rem;
	font-size: 2rem;
	line-height: 2.8rem
}

a {
	font-family: var(--font-body);
	color: var(--color-link);
	font-weight: 400;
  text-decoration: none;
	transition: color ease-in-out 0.5s;
}

a:hover {
	color: var(--color-link-hover);

}

@media screen and (max-width: 60rem) {
	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
	p	{
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
}


@media screen and (max-width: 45rem) {
	h1 {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
	p	{
		font-size: 1.1rem;
		line-height: 1.5rem;
	}
}



/* DESKTOP LAYOUT */

.container {
  display: grid;
	grid-template-columns: minmax(10%, 1fr) 8rem minmax(20rem, 45rem) minmax(10%, 1fr);
	grid-template-rows: 15% 1fr 15%;
	width: 100%;
	min-height: 100vh;
	justify-items: start;
	align-items: center;
}

.image {
		grid-column: 2;
	  grid-row: 2;
}

.image img {
	max-width: 100%;
	height: auto;
}

.text {
		grid-column: 3;
	  grid-row: 2;
		padding-left: 2em;
}



/* MOBILE LAYOUT */

@media screen and (max-width: 45rem) {
	.container {
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: 5% auto 1fr 5%;
		min-height: 80vh;
	}

	.image {
			grid-column: 2;
		  grid-row: 2;
			align-self: center;
			justify-self: center;

	}

	.image img {
		max-width: 6rem;
		height: auto;
	}

	.text {
			grid-column: 2;
		  grid-row: 3;
			padding-left: 0;
			padding-top: 1rem;
			align-self: start;
	}

}
